
// App (main container)
// ============================================================================

.app {
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.app-options {
	height: 100%;
}


// Main
// ============================================================================

.main-container {
	// background-color: $grey-blue-dark-3; // only shows if the header doesnt have a BG class
	background-color: #e7e7e7; // @TODO: Hotfix after changing header height
	display: flex;
	flex-direction: column;
	height: 100vh;
}


// Columns
// ============================================================================

// @TODO: These are holdovers from the very first build and need removing

.columns {
	height: 100%;
}

.column-posts {
	width: 100%;
}
