
// Global
// ============================================================================

html {
	font-family: $base-font;
	font-size: $base-text-size;
	font-weight: $base-text-weight;
	line-height: $base-text-lineheight;
}

body {
	min-width: 320px;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}
