
// Headings
// ============================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $sub-font;
	font-weight: 600;
}


// Selection
// ============================================================================

::selection {
	background: $selection-background;
	color: $selection-color;
}
