/**
 * Custom uikit classes
 */


// Active Show/Hide
// ============================================================================

// Show only when a parent class has .uk-active
// @TODO| Rename to active-visible & active-hidden (to comply with FK class names)

.uk-active-show {
	display: none !important;

	&-block {
		display: none !important;
	}

	&-inline {
		display: none !important;
	}

	&-inline-block {
		display: none !important;
	}
}

.uk-active {
	.uk-active-hide {
		display: none !important;
	}

	.uk-active-show {
		display: initial !important; // unsupported in IE

		&-block {
			display: block !important;
		}

		&-inline {
			display: inline !important;
		}

		&-inline-block {
			display: inline-block !important;
		}
	}
}


// Borders
// ============================================================================

.uk-border {
	border-width: 1px;

	&-remove {
		border: 0 !important;
	}

	// Positions

	&-top {
		border-top-style: solid;
	}

	&-bottom {
		border-bottom-style: solid;
	}

	&-left {
		border-left-style: solid;
	}

	&-right {
		border-right-style: solid;
	}
}


// Colours
// ============================================================================

// Background
// .uk-background-color-*
// .uk-background-color-*-dark
@if $background-colors {
	@each $name, $color in $background-colors {
		.uk-background-color-#{$name} {
			background-color: background-color($name);
		}

		.uk-background-color-#{$name}-dark {
			background-color: darken(background-color($name), 5%);
		}
	}
}

// Borders
// uk-border-color-*
@if $border-colors {
	@each $name, $color in $border-colors {
		.uk-border-color-#{$name} {
			border-color: border-color($name);
		}
	}
}

// Text
// uk-text-color-*
@if $text-colors-map {
	@each $name, $color in $text-colors-map {
		.uk-text-color-#{$name} {
			color: text-color($name);
		}
	}
}

// Text Hover
// uk-text-hover-color-*
@if $text-hover-colors {
	@each $name, $color in $text-hover-colors {
		.uk-text-hover-color-#{$name}:hover {
			color: text-hover-color($name);
		}
	}
}


// Padding
// ============================================================================

.uk-padding {
	padding: 20px;

	&-bottom {
		padding-bottom: 20px !important;
	}

	&-horizontal {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	&-tiny {
		padding: 5px;
	}

	&-tiny-horizontal {
		padding-left: 5px;
		padding-right: 5px;
	}

	&-small {
		padding: 10px;
	}
}


// Text
// ============================================================================

.uk-text-upper {
	text-transform: uppercase;
}

// Font reset
.uk-font-family-base {
	font-family: $base-font;
}


// Position
// ============================================================================

.uk-position-fixed {
	position: fixed;
}


// Misc
// ============================================================================

.uk-user-select-none {
	user-select: none;
}

.uk-line-height-inherit {
	line-height: inherit;
}

.uk-cursor-pointer {
	cursor: pointer;
}


// Breakpoints
// ============================================================================

@media (min-width: $breakpoint-large) {
	.uk-hidden-large-xlarge {
		display: none !important;
	}
}
