.header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	height: 60px; // @TODO: MOBILE_HEIGHT
	// transition: ease-in .3s;

	.header-title {
		font-size: 22px;
		color: $app-white;
		display: inline;
		font-family: inherit;
		font-weight: 300;
		transition: .2s;

		a {
			color: inherit;
			text-decoration: none;

			// &:hover {
				// opacity: .8;
			// }
		}
	}

	.header-title-has-child {
		opacity: .3;

		&:hover {
			opacity: 1;
		}
	}

	.header-title-sep {
		margin-left: -3px;
		margin-right: 5px;
		opacity: .3;
	}

	.header-title-post-title {
		opacity: .5;
	}

	.header-refresh-archive {
		.uk-btn {
			border-radius: 100%;
			line-height: 1.3;
			padding: 4px;
			text-indent: -1px;
			width: 40px;
		}
	}

	&:not(.header-type-archive) {
		.header-refresh-archive {
			display: none;
		}
	}
}

@media (max-width: $breakpoint-small) {
	.header-title:not(.header-title-post-title) {
		display: none;
	}
}
