
// Full-screen loading notice

.loading-screen {
	background: $app-white;
	height: 100%;
	position: relative;
	z-index: 999999;
}

.loading-screen-content {
	height: 100%;
}

.loading-screen-svg {
	height: 100px;
	width: 100px;
}

@keyframes cm-loading-text {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
