
// Logbox
// ============================================================================

// Shown when Developer Tools is enabled

.logbox {
	font-size: 12px;
	background-color: $logbox-background-color;
	border-left: 1px solid #272727; //$logbox-border
	border-radius: 10px 0 0;
	border-top: 1px solid #272727;
	bottom: 0;
	font-family: Consolas;
	max-width: 90%;
	overflow: hidden;
	right: 0;
	z-index: 981; // sticky + 1

	.logbox-title {
		font-size: 14px;
		background-color: $logbox-title-bg;
		color: $logbox-title-color;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		max-width: 200px;
		padding: 5px 10px;

		.material-icons {
			line-height: inherit;
		}

		&.uk-active {
			max-width: 600px;
		}
	}

	.logbox-messages {
		display: none; // prevents flash of content before the accordion can hide it
		max-height: calc(100vh - 120px);
		overflow: auto;
		padding: 10px;
		width: 200px;

		&.uk-active {
			display: block;
			max-width: 100%;
			width: 600px;
		}
	}

	.logbox-list {
		.logbox-message-title {
			color: $logbox-message-title;
			font-weight: 600;
		}

		a {
			color: $logbox-message-link;
		}

		li {
			&.logbox-message-bottom {
				font-size: 11px;
				border-bottom: 1px solid $logbox-message-bottom-border-color;
				color: $logbox-message-bottom-color;
				line-height: 1.2;
				margin-bottom: 5px;
				padding-bottom: 5px;

				&:last-child {
					border-bottom: 0;
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
	}
}
