
// User options, set in the sidebar
// @TODO: Use data attrs instead of classes


// Header
// ============================================================================

@include option('show-header', false) {
	.header {
		display: none;
	}

	.post-view-close {
		top: 0;
	}

	.columns {
		.column {
			height: calc(100vh);
		}
	}

	@include option('post-view-sidebar-right', true, true) {
		.post-item-title {color: green !important;}
	}

	@include option('post-view-sidebar-right', false, true) {
		.post-item-title {color: red !important;}
	}
}



// Sidebar
// ============================================================================

// Move sidebar to the right
@include option('post-view-sidebar-right', false) {
	.post-column-view {
		order: 2;
	}
}

// Hide the sidebar completely
@include option('post-view-sidebar-show', false) {
	.post-columns.uk-active {
		.post-column-list {
				> * {
				opacity: 0;
				pointer-events: none;
			}

			background-color: white;
			overflow: hidden;
		}

		// .post-column-view {
			// width: 100% !important;
		// }

		.post-view-item {
			border-left: 0;
		}
	}
}


// List - Grid
// ============================================================================

@include option('post-list-grid', true) {
	.post-columns:not(.uk-active) {
		.post-list-headers {
			display: none;
		}

		.post-list {
			background: none;
			display: flex;
			padding: 10px;
			// justify-content: space-between;
		}

		.post-item-container {
			flex: 0 0 $grid-post-width;
			max-width: $grid-post-width;

			@media (min-width: $breakpoint-small) {
				flex: 0 0 $grid-post-width-small;
				max-width: $grid-post-width-small;
			}

			@media (min-width: $breakpoint-medium) {
				flex: 0 0 $grid-post-width-medium;
				max-width: $grid-post-width-medium;
			}

			@media (min-width: $breakpoint-large) {
				flex: 0 0 $grid-post-width-large;
				max-width: $grid-post-width-large;
			}

			@media (min-width: $breakpoint-xlarge) {
				flex: 0 0 $grid-post-width-xlarge;
				max-width: $grid-post-width-xlarge;
			}
		}

		.post-item {
			align-content: start;
			background-color: $app-white;
			display: flex;
			flex-wrap: wrap;
			margin: 5px 6px; // spacing between post grid items
			padding: 0;

			&:hover {
				box-shadow: 0 0 1px 2px $grey-light;
			}

			.post-item-title {
				font-size: 15px;
				flex: 0 0 100%;
				margin-bottom: 10px !important;
				padding: 10px 15px 5px;
				word-break: break-word;
			}

			.post-item-excerpt {
				// padding-left: 0;
				flex: 0 0 100%;
				padding: 5px 15px 20px;
			}

			.post-item-meta {
				display: none;
			}
		}

		.post-item-gridcolor {
			display: block !important;
			height: 5px;
			margin-bottom: 10px;
			opacity: .5;
			visibility: visible !important;
			width: 100%;

			// display: flex !important;
			// justify-content: flex-end;
			// color: white;
			// padding: 2px 5px;
		}
	}

	.post-item-featuredimage-container {
		width: 100%;
	}
}


// Developer Tools
// ============================================================================

@include option('developers-only', true) {
	.developers-only {
		display: block;
	}
}

@include option('developers-only', false) {
	.developers-only {
		display: none !important;
	}
}
