
// Posts View
// ============================================================================

.post-view-item {
	border-left: 1px solid #ddd;

	&:empty {
		display: none;
	}
}

// .post-column-view {
	// padding-left: 0;
// }


// Content
// ============================================================================

.post-view-container {
	padding: 20px 40px 40px;
	position: relative;

	@media (min-width: $breakpoint-large) {
		padding-left: 100px;
		padding-top: 60px;
	}
}

.post-view-maxwidth {
	max-width: $max-content-width;
	position: relative;
}

.post-view-content {
	table {
		border: 0;
		font-size: .9em;

		// Override page-breaking inline widths
		max-width: 100% !important;
		width: 100% !important;

		td,
		th {
			padding: 5px 10px;
			vertical-align: top;
		}

		p {
			margin: 0 0 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.post-view-title {
	margin-bottom: 30px;
}

.post-view-item {
	background: $app-white;
}


// Close Button
// ============================================================================

.post-view-close-container {
	position: absolute;
	right: 0;
	top: 0;

	@media (min-width: $breakpoint-large) {
		// right: 20px;
		// top: 20px;
	}
}

.post-view-close {
	background: #e2e2e2;
	border-radius: 0 0 0 30px;
	font-size: 20px;
	height: 40px;
	line-height: 1.8;
	margin-left: -40px;
	opacity: .5;
	padding-left: 8px;
	text-align: center;
	top: 0;
	width: 40px;

	@media (min-width: $breakpoint-large) {
		border-radius: 100%;
		line-height: 2;
		padding-left: 0;
	}

	&:hover {
		opacity: 1;
	}
}


// ACF (post meta)
// ============================================================================

.post-view-acf {
	margin-bottom: 20px;
	padding: 0 40px;

	+ .post-view-buttons {
		margin-bottom: 50px;
	}

	@media screen and (min-width: 960px) {
		padding-left: 100px;
	}

	.quickpost-link {
		border-radius: 25px;
		padding: 10px 15px;

		.quickpost-link-text {
			line-height: 1.6;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}

// .acf-btn {}
// .acf-btn-primary {}
// .acf-btn-secondary {}
