
.post-column-list {
	width: 100%; // default width
}


// Column Widths
// ============================================================================

.post-columns {
	&.post-columns--has-terms {
		height: calc(100vh - (#{$header-height-desktop} + #{$terms-height-desktop}));
	}

	&.post-columns--no-terms {
		height: calc(100vh - (#{$header-height-desktop}));
	}

	&.uk-active {
		.post-column-list {
			display: none;

			@media (min-width: $breakpoint-large) {
				display: block;
				width: 20%;
			}
		}

		.post-column-view {
			display: block;
			width: 100%;

			@media (min-width: $breakpoint-large) {
				width: 80%;
			}
		}
	}

	.post-column-list {
		width: 100%;
	}

	.post-column-view {
		display: none;
	}
}


// Column Groups
// ============================================================================

.post-colgroup {
	&--thumb {
		width: $post-colgroup-width-thumb;
	}

	&--details {
		width: $post-colgroup-width-details;
	}
}

.post-colsubgroup {
	&--title {
		width: $post-colsubgroup-width-title;
	}

	&--excerpt {
		width: $post-colsubgroup-width-excerpt;
	}

	&--meta {
		width: $post-colsubgroup-width-meta;
	}
}


// Column Headers
// ============================================================================

.post-list-headers {
	background: #efefef;
	border-bottom: 1px solid border-color('grey-light');
	display: flex;
	padding: 5px 0;

	.post-list-header {
		font-size: 12px;
		color: rgba($app-black, .5);

		&--title {
			padding-left: $post-listpadding-left-title;
		}

		&--excerpt {
			padding-left: $post-listpadding-left-excerpt;
		}
	}

	.post-colgroup--details {
		display: flex;
	}

	.post-colsubgroup--meta {
		display: flex;
	}

	.meta-date {
		width: $post-meta-width-created;
	}

	.meta-modified {
		width:$post-meta-width-modified;
	}
}


// Default Layout
// ============================================================================

// List - No post view active

.post-columns:not(.uk-active) {
	.post-item {
		display: flex;

		.post-item-title {
			flex-basis: $post-colsubgroup-width-title;
			margin-bottom: 0 !important;
			padding-right: 10px;
		}

		.post-item-excerpt {
			// margin-top: 10px;
			flex-basis: $post-colsubgroup-width-excerpt;
			padding-left: 20px;
		}

		.post-item-meta {
			display: flex;
			flex-basis: $post-colsubgroup-width-meta;
			// text-align: right;

			.meta-date {
				width: $post-meta-width-created;
			}

			.meta-modified {
				width:$post-meta-width-modified;
			}
		}

		@media only screen and (max-width: 1500px) {
			.post-item-title {
				// flex-basis: 25%;
			}

			.post-item-excerpt {
				// flex-basis: 55%;
			}
		}
	}
}

// Option: Show excerpts (list)
@include option('show-excerpts-list', false) {
	.post-columns:not(.uk-active) {
		.post-item-title {
			flex-basis: 100%;
		}

		.post-item-excerpt {
			display: none;
		}
	}
}


// Sidebar Layout
// ============================================================================

// View - Active post item is shown

.post-columns.uk-active {
	.post-list-headers {
		display: none;
	}

	.post-item {
		display: flex;
		flex-wrap: wrap;
		padding: 10px;

		.post-item-featuredimage-container {
			display: none;
		}

		.post-item-title {
			flex-basis: 100%;
			margin-bottom: 10px;
		}

		.post-item-excerpt {
			flex-basis: 100%;
			margin-top: 5px;
			padding-left: 0;
		}

		.post-item-meta {
			display: none;
		}
	}
}

// Option: Show excerpts (view)
@include option('show-excerpts-view', false) {
	.post-columns.uk-active {
		.post-item-title {
			margin-bottom: 0;
		}

		.post-item-excerpt {
			display: none;
		}
	}
}



// List
// ============================================================================

.post-list {
	background: $app-white;
	display: flex;
	flex-wrap: wrap;

	// Highest-level single post container
	.post-item-container {
		display: flex;
		flex-basis: 100%;
	}

	.post-item {
		border-bottom: 1px solid lighten($app-border, 5);
		display: flex;
		flex-basis: 100%;
		// padding: 13px 20px;

		&:hover {
			background: darken($app-white, 2);
			cursor: pointer;
		}

		&.uk-active {
			background: darken($app-white, 5);
			cursor: default;
		}
	}
}

.post-item-details-container {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;

	.post-item-title {
		font-size: 13px;
		font-weight: 400;
		line-height: 1.4;
		margin-bottom: 5px;

		a {
			color: $post-link;
		}
	}

	.post-item-excerpt {
		font-size: 12px;
		color: $post-excerpt;
		line-height: 1.4;

		p {
			word-break: break-word;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.post-item-meta {
		font-size: 10px;
		text-align: left;
	}
}


// Notices
// ============================================================================

// "Loading" etc.

.post-list-notice {
	padding: 20px;
}


// Featured Image (Thumb)
// ============================================================================

.post-item-featuredimage {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background: lighten(#808080, 30);
	display: none;
	height: 150px;
	width: 100%;

	// &--no-image {}
	// &--has-image {}
}

@include option('post-list-featuredimgages', true) {
	.post-item-featuredimage {
		position: relative;

		.post-item-featuredimage-bg {
			position: absolute;
			bottom: 0;
			left: 0;
			opacity: .6;
			right: 0;
			top: 0;
		}
	}

	// +GRID: Grid view is enabled, with featured images
	@include option('post-list-grid', true, true) {
		.post-item-featuredimage {
			background-position: center;
			background-size: cover;
			display: block;
			position: relative;
			width: 100%;

			&--has-image {
				.post-item-featuredimage-bg {
					display: none;
				}
			}

			&--no-image {
				// Placeholder icon
				background-image: url($svg-muffin-placeholder-white);
				background-repeat: no-repeat;
				background-size: 50%;

				@media (min-width: 1500px) {
					background-size: 40%;
				}

				.post-item-featuredimage-bg {
					opacity: .6;
				}
			}
		}
	}

	// -GRID: No grid (just the post list), with featured images
	@include option('post-list-grid', false, true) {
		.post-columns:not(.uk-active) {
			.post-list .post-item {
				// border-bottom: 0;
				min-height: 60px;
				padding-bottom: 0;
				padding-left: 0;
				padding-top: 0;
			}

			.post-item-title,
			.post-item-excerpt,
			.post-item-meta {
				align-items: center;
				// border-bottom: 1px solid #eaeaea;
				display: flex;
				padding-bottom: 10px;
				padding-top: 10px;
			}

			.post-item-title {
				padding-left: $post-listpadding-left-title;
			}

			.post-item-excerpt {
				padding-left: $post-listpadding-left-excerpt;
			}

			.post-item-featuredimage {
				background-position: center;
				background-size: cover;
				display: block;
				height: 100%;
				margin-top: 0;
				position: relative;
				// width: 100px;

				.post-item-featuredimage-bg {
					bottom: 0;
					left: 0;
					opacity: .6;
					position: absolute;
					right: 0;
					top: 0;
				}

				&--has-image {
					.post-item-featuredimage-bg {
						display: none;
					}
				}

				&--no-image {
					.post-item-featuredimage-bg {
						opacity: .6;
					}
				}
			}
		}
	}
}


// CPT Description
// ============================================================================

// Unused

/*
.post-type-description {
	border-bottom: 1px solid #eaeaea;

	&:empty {
		display: none;
	}
}
*/
