
.post-search-term {
	background: rgba($app-white,.2);
	border: 0 !important;
	color: $app-white;
	margin-right: 5px;
	padding: 7.5px;

	&::placeholder {
		color: rgba($app-white,.8);
	}
}

.post-search-submit {
	background-color: #7fac5e;
}

.post-search-reset {
	background-color: #b53342;
}

.js-post-search-count {
	color: $app-white;
}
