/**
 * Sidebar
 */

.sidebar-container {
	display: none;
	height: 100%;

	@media (min-width: $breakpoint-large) {
		display: block;
		// min-width: 200px;
		min-width: 170px;
	}
}


.sidebar {
	background: $sidebar-bg;
	max-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;

	.sidebar-fixed {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
	}

	.sidebar-title {
		color: $nav-title;
		margin-bottom: 5px;

		&--accordion {
			cursor: pointer;

			&:before {
				color: inherit;
				content: '+';
				display: inline-block;
				margin-right: 5px;
				text-align: center;
				width: 7px;
			}

			&:hover,
			&.uk-active {
				color: $app-white;
			}

			&.uk-active {
				&:before {
					content: '-';
				}
			}
		}

		&--option {
			background-color: lighten($sidebar-bg, 2);
			border-bottom: 1px solid $sidebar-bg;
			margin-bottom: 0 !important; // hax @TODO
			padding: 10px 10px;

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	.sidebar-label {
		margin: 0;
		padding: 0 0;
	}

	.sidebar-nav {
		padding: 30px 20px;
	}

	.sidebar-acc-content {
		display: none;

		&.uk-active {
			display: block;
		}
	}

	nav {
		&:last-child {
			border-bottom: 0;
		}

		&.nav-main {
			margin-bottom: 0;

			 > ul {
				margin-bottom: 0;
			}
		}

		&.app-options {
			.setting-icon {
				color: $nav-link-color;
			}
		}

		.app-options-group {
			margin-left: 10px;
			margin-top: 15px;

			.app-options-group-title {
				color: darken($nav-link-color, 20);
				margin-bottom: 8px;
			}

			.app-options-group-items {
				padding-left: 0;
			}

			 + .app-options-group {
				margin-top: 15px;
			}
		}

		.nav-group-title {
			margin-bottom: 5px;

			&:not(:first-child) {
				margin-top: 30px;
			}
		}

		.nav-item {
			a {
				font-size: 14px;
				border-width: 3px;
				color: $nav-link-color;
				display: block;
				padding-left: 10px;
			}

			&:hover,
			&.uk-active {
				a {
					color: $app-white;
					text-decoration: none;
				}
			}
		}
	}

	.uk-checkbox-styled {
		color: $nav-link-color;
		display: block;

		&:hover {
			color: $app-white;

			input[type='checkbox']:before {
				color: $app-white;
			}
		}
	}
}

// Developers
.developers-only .sidebar-title--accordion {
	background-color: #404f51;
	border-bottom-color: #50564f;
}

// Buttons
.sidebar-button {
	background: none;
	border: 0;
	color: $nav-link-color;
	cursor: pointer;
	font-size: inherit;
	font-weight: 300;
	padding: 2px 0;
	text-align: left;
	width: 100%;

	&:hover {
		color: $app-white;

		.sidebar-button-icon {
			color: inherit;
		}
	}

	&--dangerous:hover {
		color: $app-error-light;
	}

	.sidebar-button-icon {
		font-size: 15px;
		border-radius: 2px;
		color: #a0abbf;
		margin-right: 5px;
		max-width: 15px;
	}
}

// Border colours
// @TODO: Nav borders are now dynamic, so this will need refactoring :)
.nav-color {
	.uk-border-color-blue:hover {
		border-color: #9cb4d0;
	}

	.uk-border-color-green:hover {
		border-color: #b3d09c;
	}

	.uk-border-color-purple:hover {
		border-color: #a2628f;
	}

	.uk-border-color-red:hover {
		border-color: #d97b82;
	}

	.uk-border-color-yellow:hover {
		border-color: #f9f1c9;
	}

	.uk-border-color-orange:hover {
		border-color: #f7c69c;
	}
}
