

// Items Container
// ============================================================================

.term-filters-items {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 10px 20px 0; // term items have bottom margin
	user-select: none;

	&:empty {
		display: none !important;
	}
}

// Inline (post list)
// ============================================================================

.term-filters {
	// background: $term-filters-bg;
	padding-bottom: 0;

	.term-filters-items {
		border-bottom: 1px solid $term-filters-border;
		display: flex;
		flex-wrap: wrap;
		user-select: none;
	}

	.term-filter {
		font-size: 13px;
		align-items: center;
		background: rgba($app-black, .1);
		border-radius: 5px;
		color: rgba($app-white, .5);
		cursor: pointer;
		display: flex;
		margin-bottom: 10px;
		margin-right: 10px;

		&:hover {
			background: rgba($app-white, .3);
		}

		&.uk-active {
			background: $app-white;
			font-weight: 600;
			letter-spacing: -.05px; // prevent bold width changes

			color: rgba($app-white, .5);
			background: rgba($app-white, .1);
		}

		.term-filter-name,
		.term-filter-count {
			display: block;
			padding: 3px 8px;
		}

		.term-filter-count {
			font-size: 12px;
			margin-left: -3px; // looks hacky, but allows effective hiding of post counts, by negating part of the right padding on .term-filter-name
			opacity: .6;
			padding-left: 0;
			padding-right: 5px;
		}
	}
}


// User Options
// ============================================================================

// Hide terms on the post list/grid
@include option('show-terms-list', false) {
	.post-columns:not(.uk-active) {
		.term-filters {
			display: none;
		}
	}
}

// Hide terms when a post is open
@include option('show-terms-view', false) {
	.post-columns.uk-active {
		.term-filters {
			display: none;
		}
	}
}

// Hide terms count
@include option('show-terms-count', false) {
	.term-filter-count {
		display: none;
	}
}


// Notices
// ============================================================================

// Loading etc.
// Background colour is set with utility class on .terms-list-notice-container

.terms-list-notice {
	// background: $term-filters-bg;
	border-bottom: 1px solid $term-filters-border;
	color: rgba($app-white, .5);
	padding: 10px 20px;
}
