
// Text colours
// ============================================================================

.preload-text-waiting {
	color: #ddd;
}

.preloader-text-error {
	color: $app-error;
}

.preloader-text-success {
	color: $app-success;
}

// Greyed-out text
.get-terms-count-false,
.get-terms-state-false {
	@extend .preload-text-waiting;
}


// Table
// ============================================================================

// @TODO: Use classes, not nth :O

.preloader-list-available-thead,
.preloader-list-available-tbody {
	th:first-child,
	td:first-child,
	th:nth-child(4),
	td:nth-child(4) {
		border-right: 1px solid #eee;
		padding-right: 10px;
	}

	th:nth-child(2),
	td:nth-child(2),
	th:nth-child(5),
	td:nth-child(5) {
		padding-left: 20px;
	}
}


// Errors table
// ============================================================================

.preload-table-errors-endpoints {
	a {
		font-size: 12px;
		display: inline-block;
		margin-bottom: 5px;
	}
}
