
// Buttons
// ============================================================================

.uk-btn {
	background: #eee;
	border: 0;
	color: #444;
	display: inline-block;
	font-size: $base-text-size;
	line-height: 1.3;
	margin: 0;
	overflow: visible;
	padding: 4px 12px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;

	&:not(:disabled) {
		cursor: pointer;
	}
}

.uk-btn-success {
	background-color: $app-success;
	border-color: $app-success;
	color: $app-white;
}

.uk-btn-warning {
	background-color: $app-warning;
	border-color: $app-warning;
	color: $app-white;
}

.uk-btn-danger {
	background-color: $app-error;
	border-color: $app-error;
	color: $app-white;
}

.uk-btn-ghostly {
	background-color: rgba($app-white, .1);

	color: rgba($app-white, .6);

	&:hover,
	&:active {
		background-color: rgba($app-white, .2);
		color: rgba($app-white, 1);
	}
}

.uk-btn-round-fixedsize {
	border-radius: 100%;
	height: 35px;
	padding: 6px;
	width: 35px;
}