// Styled checkbox - A more UI-appropriate alternative to @form-advanced

$uk-checkbox-bg:    $sidebar-bg;
$uk-checkbox-color: #a0abbf;
$uk-checkbox-size:  17px;

.uk-checkbox-styled {
	cursor: pointer;
	display: block;
	margin: 5px 5px 5px 9px;
	user-select: none;

	input[type='checkbox'] {
		background: #354052; // $sidebar-bg
		cursor: pointer;
		height: $uk-checkbox-size;
		margin: 0 5px 0 0;
		position: relative;
		top: 3px;
		width: $uk-checkbox-size;

		&:before {
			font-size: $uk-checkbox-size;
			background-color: inherit;
			color: $uk-checkbox-color;
			content: 'check_box_outline_blank';
			font-family: Material Icons;
		}

		&:checked:before {
			content: 'check_box';
		}
	}
}
