
// Main Scrollbar
// ============================================================================

::-webkit-scrollbar {
	height: $scrollbar-height;
	width: $scrollbar-width;
}

::-webkit-scrollbar-button {
	background: $scrollbar-button;
	display: $scrollbar-button-display;
	height: $scrollbar-button-height;
}

::-webkit-scrollbar-button:hover {
	background: $scrollbar-button-hover;
}

::-webkit-scrollbar-thumb {
	background: $scrollbar-thumb;
}

::-webkit-scrollbar-thumb:hover {
	background: $scrollbar-thumb-hover;
}

::-webkit-scrollbar-track {
	background: $scrollbar-track;
}

::-webkit-scrollbar-track:hover {
	background: $scrollbar-track-hover;
}

::-webkit-scrollbar-corner {
	background: $scrollbar-corner;
}


// Sidebar Scrollbar
// ============================================================================

.sidebar::-webkit-scrollbar {
	width: 10px;
}

.sidebar::-webkit-scrollbar-button {
	display: none;
}

.sidebar::-webkit-scrollbar-thumb {
	background: $sidebar-scrollbar-thumb;
}

.sidebar::-webkit-scrollbar-thumb:hover {
	background: $sidebar-scrollbar-thumb-hover;
}

.sidebar::-webkit-scrollbar-track {
	background: $sidebar-scrollbar-track;
}

.sidebar::-webkit-scrollbar-track:hover {
	background: $sidebar-scrollbar-track;
}
