<link rel="apple-touch-icon" sizes="180x180" href="/wp-content/themes/DevDocs/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/wp-content/themes/DevDocs/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/wp-content/themes/DevDocs/assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/wp-content/themes/DevDocs/assets/images/favicon/site.webmanifest">
<link rel="mask-icon" href="/wp-content/themes/DevDocs/assets/images/favicon/safari-pinned-tab.svg" color="#633d58">
<link rel="shortcut icon" href="/wp-content/themes/DevDocs/assets/images/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#384253">
<meta name="msapplication-config" content="/wp-content/themes/DevDocs/assets/images/favicon/browserconfig.xml">
<meta name="theme-color" content="#384253">