
// Colour Maps
// ============================================================================

// @TODO: Check for the existence of a key, within each colours map

// Background
@function background-color($name) {
	@return map-get($background-colors, $name);
}

// Text
@function text-color($name) {
	@return map-get($text-colors-map, $name);
}

// Text - Hover
@function text-hover-color($name) {
	@return map-get($text-hover-colors, $name);
}

// Border
@function border-color($name) {
	@return map-get($border-colors, $name);
}
