
/// Set styles for a given user option
///
/// @example  @include option('redtext', 'true') { body{color: red;} }
///
/// @content  Option styles
///
/// @param  {string}  $name     Option name
/// @param  {bool}    $enabled  Bool for enabled stats, true = enabled (checked), false = disabled (unchecked)
/// @param  {bool}    $and      True if using within an existing option mixin (ie. "andoption"), used to stack options
@mixin option($name, $enabled, $and:false) {
	$prefix: '#app-options';
	$enabled-str: 'true';

	// accept bools
	@if $enabled == true {
		$enabled-str: 'true';
	}
	@else {
		@if $enabled == false {
			$enabled-str: 'false';
		}
	}

	@if $and == false {
		#app-options.option-#{$name}-#{$enabled} {
			@content;
		}
	}
	@else {
		&.option-#{$name}-#{$enabled} {
			@content;
		}
	}
}

@mixin position-cover {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

@mixin half-circle-left {
	border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

@mixin half-circle-right {
	border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}

@mixin animation-basics {
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}