

// General
// ============================================================================

// Breakpoints
$breakpoint-small:          480px;
$breakpoint-medium:         768px;
$breakpoint-large:          960px;
$breakpoint-xlarge:         1220px;

// Dimensions
$header-height-desktop:     60px;
$terms-height-desktop:      50px;
$sidebar-width:             190px;


// Text
// ============================================================================

// Fonts
$base-font:                Libre Franklin, Roboto, sans-serif;
$sub-font:                 Nunito, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-text-size:           16px;
$base-text-lineheight:     1.8;
$base-text-weight:         300;


// Colours
// ============================================================================

// Colours - Generic
$app-black:                 #000;
$app-white:                 #fff;
$grey-dark:                 #616161;
$grey-dark-2:               #444;
$grey-light:                #ddd;
$grey-light-2:              #e8e8e8;
$grey-blue:                 #a0abbf;
$grey-blue-dark:            #65748d;
$grey-blue-dark-2:          #354052;
$grey-blue-dark-3:          #28303e;

// Colours - App
$app-blue:                  #577faf;
$app-green:                 #7eaf57;
$app-grey:                  #3b5763;
$app-orange:                #ef8f3e;
$app-purple:                #633b57;
$app-red:                   #b9353f;
$app-yellow:                #efd96d;

// Status
$app-success:               #659f13;
$app-success-light:         #f2fae3;
$app-warning:               #d85030;
$app-warning-light:         #fff1f0;
$app-error:                 #da2c2c;
$app-error-light:           #fff0f0;

// App BGs
$nav-title:                 $grey-blue-dark;
$nav-link-color:            $grey-blue;
$app-border:                $grey-light;
$app-bg-main:               $grey-light-2;
$app-mobile-btn-background: $grey-light;

// Sidebar
$sidebar-bg:                $grey-blue-dark-2;
$sidebar-text:              #a0abbf;

// Nav Items
// colour scheme: https://coolors.co/81b257-f4de6e-f4943f-bc383f-3f5a63

// Post Colours
$post-link:                 #1d1d1d;
$post-excerpt:              #7d7d7d;

// Selection
$selection-background:      #623c57;
$selection-color:           #fff;


// Colour Maps
// ----------------------------------------------------------------------------

$background-colors: (
	'black':                $app-black,
	'white':				$app-white,

	'main': 				$app-bg-main,
	'blue': 				$app-blue,
	'green': 				$app-green,
	'grey': 				$app-grey,
	'orange': 				$app-orange,
	'purple': 				$app-purple,
	'red': 					$app-red,
	'yellow': 				$app-yellow,

	'sidebar': 				$sidebar-bg,

	// Greys
	'grey-light':			$grey-light,
	'grey-dark': 			$grey-dark,
	'grey-blue-dark-2': 	$grey-blue-dark-2,
	'grey-blue-dark-3': 	$grey-blue-dark-3,
);

// Text
$text-colors-map: (
	'link': 				$sidebar-text,
	'black': 				$app-black,
	'white': 				$app-white,
	'grey-dark':			$grey-dark,

	'main': 				$app-bg-main,
	'blue': 				$app-blue,
	'green': 				$app-green,
	'grey': 				$app-grey,
	'orange': 				$app-orange,
	'purple': 				$app-purple,
	'red': 					$app-red,
	'yellow': 				$app-yellow,

	'error':                $app-error-light,
	'success':              $app-success-light,
);

$text-hover-colors: (
	'white': 				$app-white,
	'error-light':			lighten($app-error, 10),
);

// Borders
$border-colors: (
	'blue':					$app-blue,
	'green':				$app-green,
	'orange':				$app-orange,
	'purple':				$app-purple,
	'red':					$app-red,
	'yellow':				$app-yellow,
	'grey-light':           lighten($grey-light, 5),
);


// Posts
// ============================================================================

$max-content-width:         800px;

// Grid
$grid-post-width:           calc(100% / 2);
$grid-post-width-small:     calc(100% / 3);
$grid-post-width-medium:    calc(100% / 4);
$grid-post-width-large:     calc(100% / 5);
$grid-post-width-xlarge:    calc(100% / 7);

// Column widths: Title/excerpt/created/modified
$post-colgroup-width-thumb:   10%;
$post-colgroup-width-details: 90%;

$post-colsubgroup-width-title:   20%;
$post-colsubgroup-width-excerpt: 50%;
$post-colsubgroup-width-meta:    30%;

$post-meta-width-created:  50%;
$post-meta-width-modified: 50%;

$post-listpadding-left-title:   20px;
$post-listpadding-left-excerpt: 20px;


// Terms
// ============================================================================

$term-filters-bg:          #e5e5e5;
$term-filters-border:      #ddd;
$term-filter-bg:           #f5f5f5;


// Scrollbars
// ============================================================================

// General
$scrollbar-width:          15px;
$scrollbar-height:         15px;

// Button: The capstone at the top and bottom
$scrollbar-button-display: none; // (block|none)
$scrollbar-button:         #aaa;
$scrollbar-button-hover:   darken($scrollbar-button, 5);
$scrollbar-button-height:  10px;

// Track: The "rail" that holds the thumb
$scrollbar-track:          #efefef;
$scrollbar-track-hover:    $scrollbar-track;

// Thumb: The part you click on to drag
$scrollbar-thumb:          #ccc;
$scrollbar-thumb-hover:    darken($scrollbar-thumb, 10);

// Corner: Shown when there are both vertical and horizontal scrollbars
$scrollbar-corner:         #efefef;


// Scrollbars - Sidebar
// ----------------------------------------------------------------------------

$sidebar-scrollbar-width:       15px;
$sidebar-scrollbar-track:       lighten($sidebar-bg, 5);
$sidebar-scrollbar-thumb:       lighten($sidebar-bg, 15);
$sidebar-scrollbar-thumb-hover: lighten($sidebar-bg, 20);


// Logbox
// ============================================================================

// Logbox - Theme: Light (@TODO)
// $logbox-border: $app-border;
// $logbox-title-bg: $app-white;
// $logbox-title-color: $app-black;
// $logbox-background-color: $app-white;
// $logbox-message-title:      #5dafd7;
// $logbox-message-link:       #96692d;
// $logbox-message-bottom-border-color: rgba(125, 125, 125, .15);
// $logbox-message-bottom-color: #a9a3a3;

// Logbox - Theme: Dark
$logbox-border: 			darken($grey-dark-2, 10);
$logbox-background-color: 	$grey-dark-2;
$logbox-title-bg: 			$grey-dark-2;
$logbox-title-color: 		$app-white;
$logbox-message-title:      #5dafd7;
$logbox-message-link:       #96692d;
$logbox-message-bottom-border-color: rgba(125, 125, 125, .15);
$logbox-message-bottom-color: #a9a3a3;


// SVG
// ============================================================================

$svg-muffin-placeholder-black: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 14'%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M2.75 11.09L0 8.18V4.15l2.63-2.08L5.27 0h5.46l2.64 2.07L16 4.15V8.18l-2.75 2.91L10.51 14H5.5zm8.9.37l.6-1.55-.68-.67-.68-.68-.82 1.33-.83 1.34-.54-1.37-.55-1.36-.95 1.36-.96 1.37-.48-1.37-.49-1.36-.76.7-.76.71.6 1.55.59 1.54h6.12zM15 6.3V4.1l-2.22-1.55L10.55 1h-5.1L3.22 2.56 1 4.1V8.5h14z'%3E%3C/path%3E%3C/svg%3E";
$svg-muffin-placeholder-white: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 14' style='&%2310;&%239;fill: white;&%2310;'%3E%3Cdefs/%3E%3Cpath d='M2.75 11.09L0 8.18V4.15l2.63-2.08L5.27 0h5.46l2.64 2.07L16 4.15V8.18l-2.75 2.91L10.51 14H5.5zm8.9.37l.6-1.55-.68-.67-.68-.68-.82 1.33-.83 1.34-.54-1.37-.55-1.36-.95 1.36-.96 1.37-.48-1.37-.49-1.36-.76.7-.76.71.6 1.55.59 1.54h6.12zM15 6.3V4.1l-2.22-1.55L10.55 1h-5.1L3.22 2.56 1 4.1V8.5h14z'/%3E%3C/svg%3E";