/*
Theme Name: Docs
Version:    1.0.0
Author:     Code Muffin
*/

body {
	font-family: 'Courier New', Courier, monospace;
}

.page {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

main {
	margin: 40px auto;
}
